
# Created by https://www.gitignore.io/api/d

### D ###
# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst


# End of https://www.gitignore.io/api/d

/dls
/dls-test-library
/resources/icon.png
